@(page: String, isLoggedIn: Boolean, user: User)



@main(page, isLoggedIn, user) {
<script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
  <h1>Welcome to Play!</h1>

  <ul id="flights"></ul>


}
