@(reverseRoute: play.api.mvc.Call, loginField: Field, passwordField: Field)
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please log in</h3>
            </div>
            <div class="panel-body">
                @helper.form(reverseRoute, 'role -> "form") {
                <fieldset>
                    <div class="form-group @if(loginField.hasErrors) {has-error}">
                        <input id="@loginField.id" name="@loginField.name" value="@loginField.value.getOrElse("")"
                        class="form-control" placeholder="Login" type="text">
                    </div>
                    <div class="form-group @if(passwordField.hasErrors) {has-error}">
                        <input id="@passwordField.id" name="@passwordField.name" value="@passwordField.value.getOrElse("")"
                        class="form-control" placeholder="Password" type="password">
                    </div>
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                </fieldset>
                }
                @if(flash.containsKey("error")) {
                <div id="error-message" class="text-danger">
                    @flash.get("error")
                </div>
                }
            </div>
        </div>
    </div>
</div>